---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" />
        <title>TWBreakpoints</title>
    </head>
    <body
        class="flex h-screen flex-col items-center justify-center gap-y-2 sm:gap-y-4"
    >
        <slot />
    </body>
</html>
